.headerDiv {
    font-family: "lucida sans unicode";
    padding: 5px;
    height:24%;
    font-size: 12px;
    color: #000000;
    border: 1px solid black;
  
  }

.mainDiv {
    position: fixed;
    height:95%;
    width: 100%;
      font-family: "lucida sans unicode";
      font-size: 12px;
      color: #000000;
    border: 1px solid black;
    overflow: auto;
    padding-top: 10px;
  
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    white-space: nowrap;
  }
  

  .rightheader {
    float: right;
  }

  .FieldsDiv_class {
    font-family: "lucida sans unicode";
    margin-left: 5px;
    padding: 15px;
    width: 400px;
    height: 90%;
    overflow: scroll;
    font-size: 12px;
    color: #000000;
    border: 1px solid black;
  }
  .msgdiv {
    font-family: "lucida sans unicode";
    font-size: 12px;
    color: #af0000;
  }








  header, section {
    display: block;
  }

  h1, h2 {
    text-align: center;
    font-weight: normal;
  }
  #features {
    margin: auto;
    width: 460px;
    font-size: 0.9em;
  }
  .connected, .sortable, .exclude, .handles {
    margin: auto;
    padding: 0;
    width: 330px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .sortable.grid {
    overflow: hidden;
  }
  .connected li, .sortable li, .exclude li, .handles li {
    list-style: none;
    border: 1px solid #CCC;
    background: #F6F6F6;
    font-family: "Tahoma";
    color: #1C94C4;
    overflow: hidden;
    margin: 5px;
    padding: 5px;
    height: 32px;
  }
  .handles span {
    cursor: move;
  }
  li.disabled {
    opacity: 0.5;
  }
  .sortable.grid li {
    line-height: 80px;
    float: left;
    width: 80px;
    height: 80px;
    text-align: center;
  }
  li.highlight {
    background: #FEE25F;
  }
  #connected {
    width: 440px;
    overflow: hidden;
    margin: auto;
  }
  .connected {
    float: left;
    width: 200px;
  }
  .connected.no2 {
    float: right;
  }
  li.sortable-placeholder {
    border: 1px dashed #CCC;
    background: none;
  }